body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
  color: #f59e0b;

  background: linear-gradient(
      135deg,
      #0f172a,
      #020617
    );
  background-size: 300% 300%;
  animation: bodyFlow 18s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;


}

html {
    scroll-behavior: smooth;
}


header {
  background:
    linear-gradient(
      180deg,
      #0f172a,
      #020617
    );
  color: #f9fafb;
  padding: 32px 20px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

header h1 {
    font-family: 'BBH Bogle', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #f59f0b;
}


header h1::after {
  background: linear-gradient(
    90deg,
    transparent,
    #0f172a,
    transparent
  );
}

/* NAV */
nav {
    position: relative; /* para o logo poder ser absoluto */
    text-align: center; /* centraliza os links */
    padding: 14px 20px;
    background: rgba(255,255,255,0.04);
    backdrop-filter: blur(12px);
}

nav a {
    color: #e5e7eb;
    margin-left: 18px; /* espaço entre links */
    text-decoration: none;
    font-weight: 500;
    opacity: 0.8;
    transition: opacity 0.2s ease, color 0.2s ease;
}

nav a:hover {
    opacity: 1;
    color: #f59e0b;
}

nav .logo-nav {
    position: absolute;
    left: 20px; /* distância da esquerda */
    top: 50%;
    transform: translateY(-50%);
    font-family: 'BBH Bogle', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #f59e0b;
    letter-spacing: 2px;
}

.links-nav a {
    color: #e5e7eb;
    margin: 0 14px; /* mesmo espaçamento que você tinha antes */
    text-decoration: none;
    font-weight: 500;
    opacity: 0.8;
    transition: opacity 0.2s ease, color 0.2s ease;
}



/* CONTAINER */
.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

/* ARTICLE */
article {
  background: rgba(255, 255, 255, 0.04); /* mesmo estilo do nav */
  color: #f9fafb;
  padding: 28px;
  margin-bottom: 28px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

article:hover {
  transform: translateY(-4px);
  box-shadow: 0 28px 55px rgba(0, 0, 0, 0.45);
}

article h2 {
  margin-top: 0;
  color: #f9fafb;
}

/* CATEGORIA */
.categoria {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  color:#f59e0b;
  background: rgba(202, 106, 16, 0.12);
  padding: 4px 12px;
  border-radius: 999px;
  margin-bottom: 12px;
}

/* FOOTER */
footer {
  background: rgba(2, 6, 23, 0.85);
  color: #9ca3af;
  text-align: center;
  padding: 22px;
  margin-top: 60px;
  font-size: 14px;
}
